<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970955052265-p3gtc9nbg1qik82b74ig4gdovhrtlq1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970955052265-p3gtc9nbg1qik82b74ig4gdovhrtlq1c</string>
	<key>API_KEY</key>
	<string>AIzaSyClKW0wuYe5KG185e8jyVEya-oT7Cb-1J0</string>
	<key>GCM_SENDER_ID</key>
	<string>970955052265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kurbs.Flaint</string>
	<key>PROJECT_ID</key>
	<string>medici-b6f69</string>
	<key>STORAGE_BUCKET</key>
	<string>medici-b6f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:970955052265:ios:b07ae717948ed2aa</string>
	<key>DATABASE_URL</key>
	<string>https://medici-b6f69.firebaseio.com</string>
</dict>
</plist>